body {
	background-color: #D3E3B7;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: justify;
}
h1 {
	font-size: 12px;
	font-weight: bold;
	color: #D96C00;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a {
	color: #0000FF;
}
p.piepagina {
	font-size: 8pt;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
